frontend/node_modules/
backend/node_modules/
.idea/
data
*.log
/backend/src/infra/service/googleCalendar/credentials.json
/backend/src/credentials/

.scannerwork/
/backend/src/credentials/google/
/backend/src/credentials/

backend/.env
